

.chart {
  height: 500px;
}
.tt {
		background-color: white;
		font-size: : 13px;
		border: 1px solid black;
		position: absolute;
		display: none;
}

.tt .date {
		font-size: 11px;
		color: #999;
		text-transform: uppercase;
}

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}